<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>SmartNotes</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>

        <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-responsive.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">

        <!--[if lt IE 9]>
            <script src="js/vendor/html5-3.6-respond-1.1.0.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">SmartNotes</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="about/">About</a></li>
                            <li style="display:none;"><a href="contact/">Contact</a></li>
                        </ul>
                        <form class="navbar-search pull-right" onsubmit="return false;"> <!-- return false : important override to stop automatic posting -->
                            <input type="text" class="search-query" placeholder="Search">
                        </form>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container">
            <ul class="note-list">
                <li class="note" id="xxx" new="true" mod="false">
                    <textarea class="note-textarea" placeholder="Enter your note"></textarea>
                    <ul class="note-menu">
                        <li class="note-menu-item"><span class="save note-menu-item-text">save</span></li>
                        <li class="note-menu-item"><span class="delete note-menu-item-text">delete</span></li>
                        <li class="note-menu-item"><span class="similar note-menu-item-text">similar</span></li>
                    </ul>
                </li>
            </ul>

            <hr>

            <footer>
                <p>&copy; Sandeep Raju 2012</p>
            </footer>
            <div class="error-message">Looks like you are not connected to the internet!<br>Please try again...</div>
            <div class="back-button"><span class="back-button-text"><i class="icon-circle-arrow-left"></i> Back</span></div>
        </div> <!-- /container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{url_for('static', filename='js/vendor/jquery-1.8.2.min.js')}}"><\/script>')</script>

        <script src="{{url_for('static', filename='js/vendor/bootstrap.min.js')}}"></script>

        <script src="{{url_for('static', filename='js/main.js')}}"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
